<% provide(:title, t(".heading")) %>
<div class="center jumbotron">
  <h1><%= t(".welcome") %></h1>
  <h2>
    <%= t(".intro") %>
	  <%= link_to "Ruby on Rails Tutorial", Settings.url.rails_home_url %>
    sample application.
  </h2>
  <%= link_to t(".signup"), signup_path, class: "btn btn-lg btn-primary" %>
  <%= link_to t(".en"), locale:"en" %>
  <%= link_to t(".in"), locale:"vi" %>
</div>
